<!--The content below is only a placeholder and can be replaced.-->
<div class="panel-hotag" [ngStyle]="{
'margin-left':margin.left,
'margin-right':margin.right,
'margin-top':margin.top,
'margin-bottom':margin.bottom
}">
  <h3>热门标签</h3>
  <p *ngFor="let item of tagList">
    <span><b>{{item.tname}}</b>12</span>
  </p>
</div>
