<!--The content below is only a placeholder and can be replaced.-->
<div class="panel-list" [ngStyle]="{
'margin-left':margin.left,
'margin-right':margin.right,
'margin-top':margin.top,
'margin-bottom':margin.bottom
}">
  <h3>友情链接</h3>
  <div *ngFor="let item of friendLinkList">
    <span>{{item.lname}}</span>
  </div>
</div>
