.panel-article{
  width: 100%;
  background: white;
  .hd{
    .h{
      padding:20px 15px;
    }
    .b{
      border-bottom: 1px dotted #999;
      span{
        padding:{
          left:15px;
          right:15px;
        }
      }
    }
  }
  .bd{
    padding:{
      top:20px;
      left:15px;
      right: 15px;
    }
  }
  .ft{
    margin:{
      top:40px;
    }
    padding: 0 15px;
    .i{
      cursor: pointer;
    }
  }
}
