<!--The content below is only a placeholder and can be replaced.-->
<div class="panel-article">
  <div class="hd">
    <h1 class="h">
      {{article.title}}
    </h1>
    <div class="b df jcsb">
      <span>{{article.author}}</span>
      <span>{{article.addTime}}</span>
      <span class="label">
        <b *ngFor="let item of article.category;index as i;">{{item.cname}}<font *ngIf="i != article.category.length - 1">　&gt;　</font></b>
      </span>
    </div>
  </div>
  <div class="bd" [innerHtml]="article.content">

  </div>
  <div class="ft">
    <div class="i pre" [routerLink]="['/Index-Detail/',preAid]">
      <span>上一篇:</span>
      <font>善用Eclipse svn的忽略功能</font>
    </div>
    <div class="i next" [routerLink]="['/Index-Detail/',nextAid]">
      <span>下一篇:</span>
      <font>善用Eclipse svn的忽略功能</font>
    </div>
  </div>
</div>
