.panel-comment{
  width: 100%;
  background: white;
  padding:{
    top:15px;
    bottom:15px;
  }
  .hd{
    padding:{
      left:15px;
      right:15px;
    }
    margin:{
      bottom:30px;
    }
    .lt{
      width: 45px;
      height: 45px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .rt{
      width: 100%;
      margin:{
        left:15px;
      }
      textarea{
        width: 100%
      }
    }
  }
  .bd{
    .h{
      border-bottom: 2px solid #88ABC3;
      padding:{
        left:15px;
        right:15px;
      }
      .l{

      }
    }
    .b{
      padding:{
        left:15px;
        right:15px;
      }
      margin:{
        top:6px;
      }
      .i{
        .l{
          margin:{
            right:15px;
          }
          width: 45px;
          height: 45px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .r{
          width: calc(100% - 60px);
          .u{
            .time{
              font{
                color:#0B7DF2;
                margin:{
                  left: 5px;
                }
                cursor: pointer;
              }
            }
          }
          .d{
            .j{
              span{
                display: block;
                width: 45px;
                height: 45px;
                img{
                  width: 100%;
                  height: 100%;
                }
                margin:{
                  right:15px;
                }
              }
              font{
                display: block;
                width: calc(100% - 60px);
                .content{
                  i,em{
                    font-style: normal;
                  }
                  strong{
                    font-weight: 100;
                  }
                }
                .time{
                  em{
                    font-style: normal;
                  }
                  b{
                    font-weight: 500;
                    color:#0B7DF2;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
