<!--The content below is only a placeholder and can be replaced.-->
<div class="panel-comment" [ngStyle]="{
'margin-left':margin.left,
'margin-right':margin.right,
'margin-top':margin.top,
'margin-bottom':margin.bottom
}">
  <div class="hd df">
    <div class="component" (comment)="onComment($event)" CommonEditor></div>
  </div>
  <div class="bd">
    <div class="h df jcsb">
      <div class="l">最新评论</div>
      <div class="r">总共{{commentList.length}}条评论</div>
    </div>
    <div class="b">
      <div class="i df" *ngFor="let item of commentList">
        <div class="l">
          <img src="{{item.avatar}}" alt="">
        </div>
        <div class="r">
          <div class="u">
            <div class="content">
              <span>{{item.nickname}}:</span><font>{{item.content}}</font>
            </div>
            <div class="time">
              <span>{{item.date | date:'yyyy-MM-dd HH:mm:ss'}}</span><font (click)="m.isShow=!m.isShow">回复</font>
            </div>
          </div>
          <div class="m" #m>
            <div class="component" (comment)="onComment($event)" *ngIf="m.isShow" CommonEditor></div>
          </div>
          <div class="d">
            <div class="j" *ngFor="let it of item.reply">
              <div class="k df">
                <span>
                <img src="{{it.avatar}}" alt="">
              </span>
                <font>
                  <div class="content">
                    <em>{{it.ouUser.nickname}}</em>
                    <b>回复</b>
                    <i>{{it.replyUser.nickname}}</i>
                    <strong>{{it.content}}</strong>
                  </div>
                  <div class="time" >
                    <em>{{it.date | date:'yyyy-MM-dd HH:mm:ss'}}</em>
                    <b (click)="doComment('user');k.isShow=!k.isShow">回复</b>
                  </div>
                </font>
              </div>
              <div class="k" #k>
                  <div class="component" *ngIf="k.isShow" (comment)="onComment($event)"  CommonEditor></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
