<!--The content below is only a placeholder and can be replaced.-->
<div class="panel-list" [ngStyle]="{
'margin-left':margin.left,
'margin-right':margin.right,
'margin-top':margin.top,
'margin-bottom':margin.bottom
}">
  <h3>最新评论</h3>
  <p *ngFor="let item of remarkList">{{item.content | limitTo}}</p>
  <br />
</div>
