<!--The content below is only a placeholder and can be replaced.-->
<div class="panel-list" [ngStyle]="{
'margin-left':margin.left,
'margin-right':margin.right,
'margin-top':margin.top,
'margin-bottom':margin.bottom
}">
  <div *ngFor="let item of articleList" class="i">
    <div  class="hd">
      {{item.title}}
    </div>
    <div class="bd">
      <span> {{item.author}}</span><span>{{item.addTime}}</span><span>{{item.cid}}</span>
    </div>
    <div class="ft">
      <img (click)="toDetail(item);" src="{{item.listImg}}" alt=""><span>{{item.description}}</span><button type="button" (click)="toDetail(item);">阅读全文</button>
    </div>
  </div>
</div>
