<!--The content below is only a placeholder and can be replaced.-->
<div class="page-index-detail df">
  <div class="container-left">
    <div CommonArticleDetail [article]='article'></div>
    <div CommonCommentEditor [article]="article" [margin]="{'top':'20px'}"></div>
  </div>
  <div class="container-right">
    <div CommonHotTag [margin]="{'left':'15px'}"></div>
    <div CommonTopList [margin]="{'left':'15px','top':'20px'}"></div>
    <div CommonNewRemark [margin]="{'top':'20px','left':'15px'}"></div>
    <div CommonAllSearch [margin]="{'top':'20px','left':'15px'}"></div>
  </div>
</div>

