
@media screen and (max-width:1920px) and (min-width:1681px) {
  html{font-size:18px} //1920 1080
}
@media screen and (max-width:1680px) and (min-width:1601px) {
  html{font-size:16px} //1680 1050
}
@media screen and (max-width:1600px) and (min-width:1441px) {
  html{font-size:16px} //1600 900
}
@media screen and (max-width:1440px) and (min-width:1367px) {
  html{font-size:15px} //1440 900
}
@media screen and (max-width:1366px) and (min-width:1360px) {
  html{font-size:14px} //1366 786 1360 768
}