/*
*@ Name:       替换元素等比缩放组件
*@ Author:     一丝
*@ Update:     2013-9-29 16:05:04
*@ Usage:      不同的视频网站由于控制栏高度不同，需要JS配合添加对应的 class
*/

.fluid-media {
  position: relative;
}

/* 容器 */
.fluid-media div,
.fluid-media video,
.fluid-media embed,
.fluid-media object,
.fluid-media iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* 常见的视频比例 */
.widescreen {
  padding-bottom: 56.25%; /* 宽屏 16:9=56.25% */
}

.narrowscreen {
  padding-bottom: 75%; /* 窄屏 4:3=75% */
}

/* 播放器控制栏的高度，更多网站按需扩展 */
.youku {
  padding-top: 40px; /* 优酷 */
}

.wole {
  padding-top: 40px; /* 我乐 56.com */
}

.tudou {
  padding-top: 50px; /* 土豆 */
}

.iqiyi {
  padding-top: 45px; /* 爱奇艺 */
}

.youtube {
  padding-top: 30px; /* Youtube */
}

//弹性布局
.df{
  //display: -webkit-flex;
  //display: -moz-flex;
  //display: -ms-flex;
  display: flex;
}
//两端对齐
.jcsb{
  justify-content:space-between;
}
//元素水平居中
.jcc{
  justify-content: center;
}
//垂直居中对齐
.aic{
  align-items: center;
}
//可以换行
.fww{
  flex-wrap: wrap;
}


//行内元素
.dif{
  display: inline-flex;
}
//从下至上排列
.fdr{
  flex-direction: row;
}
//从上至上排列
.fdrr{
  flex-direction: row-reverse;
}
//从做到右排列
.fdc{
  flex-direction: column;
}
//从右到左排列
.fdcr{
  flex-direction: column-reverse;
}


//不可以换行
.fwn{
  flex-wrap: nowrap;
}
//反向换行
.fwwr{
  flex-wrap: wrap-reverse;
}

//水平换行
.ffrw{
  flex-flow: wrap;
}
//水平不换行
.ffrn{
  flex-flow:row nowrap;
}
//水平反向换行
.ffrwr{
  flex-flow:row wrap-reverse;
}
//纵向反向换行
.ffcwr{
  flex-flow:column wrap-reverse;
}

.jcfs{
  justify-content:flex-start;
}
.jcfe{
  justify-content:flex-end;
}


//左对齐
.jcfs{
  justify-content:flex-start;
}
//右对齐
.jcfe{
  justify-content:flex-end;
}
//水平元素间隔相等对齐
.jcsa {
  justify-content:space-around;
}

//顶对齐
.aifs{
  align-items: flex-start;
}
//底对齐
.aife{
  align-items: flex-end;
}
//所有item第一行文字底部基线对齐
.aib{
  align-items: baseline;
}
//垂直占满整个容器高度
.ais{
  align-items: stretch;
}

//第一象限对齐
.acfs{
  align-content: flex-start;
}
//第四象限对齐
.acfe{
  align-content: flex-end;
}
//item位于容器中心
.acc{
  align-content: center;
}
//垂直占满真个容器高度
.acs{
  align-content: stretch;
}
//垂直两端对齐
.acsb{
  align-content: space-between;
}
//垂直元素间隔相等对齐
.acsa{
  align-content: space-around;
}



