/**
*@ Name:        type.css V1.1.0
*@ Author:      一丝
*@ Update:      2013-12-23 9:38:42;
*@ Copyright:	MIT License
*/
body {
  font-size: 14px;
  line-height: 1.8;
}

/**
* 在 IE 中开启中英文混排(表意文字与非表意文字之间)自动增加间距的功能，
 IE 低版本在 table 中不支持。
* ideograph-alpha：      在表意文字与非表意文字（如，基于拉丁文的文字、
                        西里尔文字、希腊文字、阿拉伯文字或希伯来文字）
                        的行文之间创建额外的间距。
* ideograph-numeric：    在表意文字与数字字符的行文之间创建额外的间距。
* ideograph-parenthesis：在普通(非宽)括号与表意文字之间创建额外的间距。
*/
body,
button,
input,
select,
textarea {
  -ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;
  text-spacing: ideograph-alpha ideograph-numeric ideograph-parenthesis;
}


.type {
  margin-left: auto !important;
  margin-right: auto !important;
}

.type-box {
  max-width: 50em;
  *width: 50em;
  margin:32px 0;
  padding: 1em 2em;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
}

/* ==========================================================================
 链接
 ========================================================================== */

.type a {
  color: #3187DB;
  text-decoration: none;
}


.type a:hover,
.type ins:hover {
  color: #333;
  text-decoration: underline;
  text-underline-position: under;
}

/* 下划线用边框模拟 */
.type li a,
.type h1 a,
.type h2 a,
.type h3 a,
.type h4 a,
.type h5 a,
.type h6 a {
  border-bottom: 1px solid transparent;
  _border-bottom: 1px none;
}

.type li a:hover,
.type h1 a:hover,
.type h2 a:hover,
.type h3 a:hover,
.type h4 a:hover,
.type h5 a:hover,
.type h6 a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}

.type a:hover code {
  border-bottom: 1px solid;
}

/**
* a 默认使用 border 来模拟下划线会占用盒模型高度，
* 如果某些布局的地方不需要这样的下划线，使用该 class 去除。
*/
.underline-fix a:hover,
.underline-fix ins:hover {
  border: 0 none;
  text-decoration: underline;
}

/**
* 防止 a>img hover 时下划线位置错位
* 如果 img 不需要下划线可以直接：
a img {
  float: left;
}

* 或者：
a img {
  display: block;
}
*/

.type a img {
  vertical-align: baseline;
}

.type acronym,
.type abbr {
  border-bottom: 1px dotted;
}

/**
* 保留 i 标签斜体
*/
.type i {
  font-style: italic;
}

/**
* 重置中文斜体
* cite 标签通常用在书籍或杂志的标题
*
*/
.type cite,
.type em,
.type var,
.type address,
.type dfn {
  font-style: normal;
}

.type cite {
  border-bottom: 3px double;
}

/**
* 专名号和em
* 1. 保持留白，防止两个连续标签下划线连在一起
*/
.type u,
.type em {
  margin-right: .25em; /* 1 */
  text-decoration: none;
}

.type u + u,
.type u + em,
.type em + em,
.type em + u,
.type a + a {
  margin-left: .25em; /* 1 */
}

.type u {
  border-bottom: 1px solid;
}

.type em {
  border-bottom: 1px dotted;
}


/**
* figure 内图片居中
*/
.type figure {
  text-align: center;
}


/**
* 中文小于 12px 可读性很差
* 1. 统一 IE 6/7 中字体大小
* 2. 统一 Firefox 4+，Safari 5 和 Chrome 中「section」和「article」内的字体大小
*/
.type p {
  margin-top: 18px;
  margin-bottom: 18px;
}

/* ==========================================================================
 标题
 ========================================================================== */

/**
* 中文小于 12px 可读性很差
* 统一 IE 6/7 中字体大小
* 统一 Firefox 4+，Safari 5 和 Chrome 中「section」和「article」内的字体大小
*/
h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.type blockquote {
  margin: 32px 28px;
  padding-left: 14px;
  border-left: 3px solid #CCC;
  line-height: 1.6;
}


/* ==========================================================================
 列表
 ========================================================================== */

.type ul,
.type ol {
  margin-bottom: 14px;
}

/**
* 1. 无序列表默认使用方块
*/
.type ul {
  list-style-type: square; /* 1 */
  padding-left: 30px;
  margin-top: 14px;
}

.type ul ul,
.type ul ol ul {
  list-style-type: disc;
}

.type ol {
  list-style: decimal;
  padding-left: 30px;
}

.type ol ol ul,
.type ol ul ul,
.type ul ul ul {
  list-style-type: circle;
}

.type ol ol ol ul,
.type ol ol ul ul,
.type ol ul ul ul,
.type ul ul ul ul {
  list-style-type: square;
}

.type dt {
  font-weight: bold;
  margin-top: 14px;
}

/* ==========================================================================
 代码
 ========================================================================== */
.type code {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: normal;
  margin: 0 .25em;
  padding: 0 .4em;
  border: 1px solid #DDD;
  background-color: #F8F8F8;
  border-radius: 3px;
}

.type pre {
  background-color: #F8F8F8;
  border: 1px solid #DDD;
  font-size: 12px;
  line-height: 18px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
}

/**
* 通常代码高亮 code 标签会嵌套在 pre 标签内部，需要重置样式。
*/
.type pre code {
  margin: 0;
  padding: 0;
  border: 0 none;
  background: none;
  border-radius: 0;
  font-size: inherit;
  line-height: 1.5;
}

/* ==========================================================================
 快捷键 <kbd>
 ========================================================================== */

.type kbd {
  display: inline-block;
  padding: .25em .5em .2em;
  margin-left: .25em;
  margin-right: .25em;
  font: 75%/1 monaco, menlo, consolas, 'courier new', courier, monospace;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  white-space: nowrap;
  word-wrap: normal;
  text-transform: capitalize; /* 首字母大写 */

  color: #555;
  background-color: #fefefe;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
  box-shadow: 0px 2px 0px #ccc, 0 3px 1px #999, inset 0 1px 1px #fff;
}

.type .dark kbd,
.type kbd.dark {
  color: #fdfdfd;
  text-shadow: 0 -1px 0 #000;
  border-color: #000;
  background-color: #4d4c4c;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0));
  box-shadow: 0px 2px 0 #000, 0 3px 1px #999, inset 0 1px 1px #aaa, inset 0 -1px 3px #272727;
}

.type kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  box-shadow: none;
}

/**
* Mac 修饰键符号
 https://support.apple.com/kb/PH10564?locale=zh_CN
 [Mac——如何输入⌘、⌥、⇧、⌃、⎋等特殊字符](http://softu.cn/447)
*/

.type kbd[data-key]:after {
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}

.type kbd[data-key="command"]:after {
  content: ' ⌘';
}

.type kbd[data-key="cmd"]:after {
  content: ' ⌘';
}

.type kbd[data-key="shift"]:after {
  content: ' ⇧';
}

.type kbd[data-key="control"]:after {
  content: ' ⌃';
}

.type kbd[data-key="option"]:after {
  content: ' ⌥';
}

.type kbd[data-key="capslock"]:after {
  content: ' ⇪';
}

.type kbd[data-key="caps lock"]:after {
  content: ' ⇪';
}

.type kbd[data-key="escape"]:after {
  content: ' ⎋';
}

.type kbd[data-key="esc"]:after {
  content: ' ⎋';
}

.type kbd[data-key="return"]:after {
  content: ' ↩';
}

.type kbd[data-key="enter"]:after {
  content: ' ↩';
}


.type kbd[data-key="delete"]:after {
  content: ' ⌫';
}

.type kbd[data-key="eject"]:after {
  content: ' ⏏';
}

.type hr {
  border: 0 none;
  border-bottom: 2px solid #999;
  margin-top: 32px;
  margin-bottom: 32px;
}

/* ==========================================================================
 CSS 自动生成标题编号
 ========================================================================== */


/* --------------------------------------------------------------------------
 标题自动生成编号
 -------------------------------------------------------------------------- */

/**
* 传统中文排版有「章」「节」「卷」「篇」「辑」「集」「部」等概念，
* 在网页排版中，type.theme 选取如下规则作为标题编号：
* 第1级--------章--------1
* 第2级--------节--------1.1
* 第3级--------节--------1.1.1
* 第4级--------节--------1.1.1.1
* -----------------------条--------1.
* -----------------------款--------1)
* -----------------------项--------(1)
* 所有标点均为西文标点
* 需要注意的是「条」比「章」后面多了「.」，「章」亦可用汉字代替，例如：「一、」
* Firefox 有私有属性分别实现简体和繁体的汉字编号，
 -moz-simp-chinese-formal(大写)/-moz-simp-chinese-informal(小写)，
 -moz-trad-chinese-formal(大写)/-moz-trad-chinese-informal(小写)，
 参照：http://lists.w3.org/Archives/Public/public-html-ig-zh/2010Sep/0011.html
 生成类似如下格式：

 壹、章
 ----壹之一、节
 ----壹之二、节

 贰、章
 ----贰之一、节
 ----贰之二、节
 --------贰之二之一、节
 --------贰之二之二、节

* @doc: 《科技文献的章节编号方法》（CY/T35-2001）
*/

.type h2:before,
.type h3:before,
.type h4:before {
  margin-right: .5em;
  color: #888;
}


.type {
  counter-reset: chapter section subsection;
}

/**
* 标题生成阿拉伯数字编号（默认）
HTML 结构         | 生成编号
----------------- | -------
`<h2>章</h2>`      | 1. 章
`<h3>节</h3>`      | 1.1 节
`<h4>小结</h4>`    | 1.1.1 小结
*/

/**
* 一级标题（章）
*/
.type h2 {
  counter-reset: section;
}

.type h2:before {
  content: counter(chapter);
  counter-increment: chapter;
}

/**
* 一级标题生成汉字编号
* 在容器上加上 class="type-title"
HTML 结构         | 生成编号
----------------- | -------
`<h2>章</h2>`      | 一、章
`<h3>节</h3>`      | 1.1 节
`<h4>小结</h4>`    | 1.1.1 小结
*/

.type-title h2 {
  counter-increment: section;
}

.type-title h2:before {
  content: counter(chapter, cjk-ideographic) "\3001";
  margin-right: .2em;
}

/**
* 二级标题（节）
* 输出 1.1
*/
.type h3 {
  counter-reset: subsection;
}

.type h3:before {
  content: counter(chapter) "." counter(section);
  counter-increment: section;
}

/**
* 三级标题（小结）
* 输出 1.1.1
*/
.type h4:before {
  content: counter(chapter) "." counter(section) "." counter(subsection);
  counter-increment: subsection;
}


/* --------------------------------------------------------------------------
 ol 自动生成编号
 -------------------------------------------------------------------------- */

/**
* 数字编号，兼容 IE8+
* 通常用来生成一个目录，为了更好的语义，只支持 ol。
* @demo: http://jsbin.com/IpIPinu/3/edit?css,output
* 使用方法：
<ol class="type-toc">...</ol>
* 将会生成如下格式编号：
      1.
      1.1
      1.1.1
      ...

* 1. 为每个 ol 元素创建新的计数器实例
* 2. 隐藏默认的列表项
*/
.type-toc {
  margin: 16px auto;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #EAEAEA;
  /*border-bottom: 1px solid #EAEAEA;*/
}


.type-toc li {
  overflow: hidden;
  margin-top: 1px;
  white-space: nowrap;
}

.type-toc li a {
  display: block;
  padding-left: .5em;
  overflow: hidden;
  /*border: 0 none;*/
  color: #666;
  /*background-color: #ccc;*/
}

.type-toc li a:hover {
  background-color: #f5f5f5;
  border-bottom: 1px solid #E6E6E6;
  border-radius: 0 0 3px 3px;
  color: #3187DB;
}

.type-toc h2 {
  border-right: 1px solid #eee;
  padding: 0 22px;
  margin-bottom: 16px;
  /*float: left;*/
  /*background: #FBFBFB;*/
  /*width: 1em;*/
  line-height: normal;
}

.type-toc h2 {
  padding-bottom: 999em;
  margin-bottom: -999em;
  color: #666;
}

.type-toc > ol {
  overflow: hidden;
  *zoom: 1;
  margin: 0;
  padding: 16px 20px;
}

.type-toc.fixed {
  position: fixed;
  left: 100px;
  top: 20px;
}

.type-toc.fixed h2 {
  font-size: 18px;
  float: none;
  width: 100%;
  padding: 6px 16px;
  margin: 0;
}

.type-toc.fixed h2 + ol {
  padding-left: 0;
}

/*.type-toc > ol > li {
  display: inline-block;
  vertical-align: top;
}*/

ol.type-toc,
.type-toc ol {
  counter-reset: list;/* 1 */
  list-style-type: none !important; /* 2 */
  *list-style-type: decimal !important;
}

.type-toc li:before {
  color: #666;
  margin-right: .25em;
  padding-left: .5em;
  float: left;
}

/**
* 1. 只增加当前计数器(直接设置在 li 上其他列表会影响序号)
* 2. 所有计数器中间以“.”分隔的值
*/
.type-toc li:before {
  counter-increment: list; /* 1 */
  content: counters(list, ".")" "; /* 2 */
}

/**
* ol 中的 ul 不生成序号
*/
.type-toc ul {
  list-style-type: square;
  list-style-position: inside;
}

.type-toc ul li:before {
  content: none !important;
}

/**
* 避免目录中的标题影响正文编号
*/
.type .type-toc h2:before,
.type .type-toc h3:before,
.type .type-toc h4:before {
  content: none;
}

/**
* 去除上下间距
*/
.type-toc ol,
.type-toc ul {
  margin-top: 0;
  margin-bottom: 8px;
}


/* ==========================================================================
 汉字标点修正
 ========================================================================== */

/**
* 1. 在 Unicode 中，一些标点并未区分半角和全角，所以中文与西文会公用一个字符。
* 如果网页中 font-family 的设置是西文字体在前、中文字体在后的顺序，那么这些标
* 点会 fallback 到西文字体，导致间隔号·，弯引号“”‘’等标点宽度小于一个汉字
* 的宽度；省略号在垂直方向沉底……以及破折号——从中间断开。通常这些都是不符合
* 中文排版习惯的。
*
* 2. Chrome Windows 版在使用中易宋体（SimSun）的时候，会导致逗号（U+FF0C）、句
* 号（U+3002 ）、顿号（U+3001） 在垂直方向居中（通常是左下角显示），需要单独修正。

* @demo: http://jsbin.com/uCenOFaf/4/edit

* 这些标点通常包括：

标点名称        |标点字形     |Unicode   |排版要求                     |英文名称
--------------- | :------- -: | -------- | --------------------------- | -------
左弯单引号      |‘           |U+2018    |占一个汉字宽度，紧靠内容     |LEFT SINGLE QUOTATION MARK
右弯单引号      |’           |U+2019    |占一个汉字宽度，紧靠内容     |RIGHT SINGLE QUOTATION MARK
左弯双引号      |“           |U+201C    |占一个汉字宽度，紧靠内容     |LEFT DOUBLE QUOTATION MARK
右弯双引号      |”           |U+201D    |占一个汉字宽度，紧靠内容     |RIGHT DOUBLE QUOTATION MARK
间隔号          |·           |U+00B7    |占一个汉字宽度，水平垂直居中 |MIDDLE DOT
破折号          |——         |U+2014    |连在一起无间隔               |EM DASH
省略号          |……         |U+2026    |垂直居中，六个点             |HORIZONTAL ELLIPSIS
逗号            |，           |U+FF0C    |左下角（日文中只使用U+3001） |FULLWIDTH COMMA
句号            |。           |U+3002    |左下角                       |IDEOGRAPHIC FULL STOP
顿号            |、           |U+3001    |左下角                       |IDEOGRAPHIC COMMA
分号            |；           |U+FF1B    |占一个汉字宽度，水平垂直居中 |FULLWIDTH SEMICOLON
冒号            |：           |U+FF1A    |占一个汉字宽度，水平垂直居中 |FULLWIDTH COLON
人民币符号      |￥           |U+00A5    |半角，通常紧靠数字           |YEN SIGN

*/


/* --------------------------------------------------------------------------
 间隔号「·」（Middle dot）
 -------------------------------------------------------------------------- */

@font-face {
  font-family: "type";
  unicode-range: U+00B7;
  src:
    local('Hiragino GB'),
    local('Heiti SC'),
    local(STHeiti),
    local(SimSun);
}

/* --------------------------------------------------------------------------
 破折号「——」（EM dash）
 -------------------------------------------------------------------------- */


@font-face {
  font-family: "type";
  unicode-range: U+2014;
  src:
    local('Hiragino Sans GB'),
    local('Hiragino Kaku Gothic ProN'),
    local('Hiragino Kaku Gothic Pro'),
    local('Microsoft Yahei'),
    local(SimSun);
}

/* --------------------------------------------------------------------------
 省略号「……」（Ellipsis）
 -------------------------------------------------------------------------- */

@font-face {
  font-family: "type";
  unicode-range: U+2026;
  src:
    local('Hiragino Sans GB'),
    local('Hiragino Kaku Gothic ProN'),
    local('Hiragino Kaku Gothic Pro'),
    local(Meiryo),
    local('MS Gothic'),
    local(SimSun),
    local(PMingLiU);
}

/* --------------------------------------------------------------------------
 弯引号「“‘’”」（Curve quotes）
 -------------------------------------------------------------------------- */

@font-face {
  font-family: "type";
  unicode-range: U+201C-201D, U+2018-2019;
  src:
    local('Hiragino Sans GB'),
    local('Heiti SC'),
    local(STHeiti),
    local(SimSun),
    local(PMingLiU);
}

/* --------------------------------------------------------------------------
 逗号、句号、冒号、分号「，。；：」
 -------------------------------------------------------------------------- */

@font-face {
  font-family: "type";
  unicode-range: U+FF0C, U+3002, U+FF1B, U+FF1A;
  src:
    local('Hiragino Kaku Gothic ProN'),
    local('Hiragino Kaku Gothic Pro'),
    local('MS Gothic'),
    local('SimSun');
}

/* --------------------------------------------------------------------------
 顿号「、」
 -------------------------------------------------------------------------- */

@font-face {
  font-family: "type";
  unicode-range: U+3001;
  src:
    local('Hiragino Kaku Gothic ProN'),
    local('Hiragino Kaku Gothic Pro'),
    local('SimSun'),
    local('MS Mincho'),
    local('PMingLiU');
}

/* --------------------------------------------------------------------------
 人民币符号「￥」（Yen）
 -------------------------------------------------------------------------- */

@font-face {
  font-family: "type";
  unicode-range: U+00A5;
  src: local(arial);
}

/* --------------------------------------------------------------------------
 修复 Firefox 不支持 unicode-range 导致样式失效的问题
 -------------------------------------------------------------------------- */

/**
* @bug: https://bugzilla.mozilla.org/show_bug.cgi?id=unicode-range
* @doc: http://newhtml.net/custom-font-stacks-with-unicode-range/
*/
@font-face {
  font-family: "type";
  src: local('Fix Firefox');
  unicode-range: U+270C;
}





