/* ==========================================================================
 基础工具
 *@ Name:        utils.css V1.0.0
 *@ Author:      一丝
 *@ Update:      2013-9-30 15:39:57;
 *@ Copyright:   MIT License
 ========================================================================== */

/* 强制不换行 */
.nowrap {
  white-space: nowrap;
  word-wrap: normal;
}

/* 连续字符换行 */
.wrap {
  white-space: normal;
  word-wrap: break-word;
}

.hide {
  display: none;
}

/**
* 文字溢出显示省略号
* 1. Chrome 21+ bug https://bugs.webkit.org/show_bug.cgi?id=121902
*/

.ellipsis {
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left; /* 2 */
}



/* --------------------------------------------------------------------------
 图片替换
 -------------------------------------------------------------------------- */

/** 隐藏文字
* 1.text-indent:-999em 存在性能问题：
*   http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
*/
.text-hide {
  text-indent: 100%; /* 1 */
  white-space: nowrap;
  overflow: hidden;
}