.panel-editor{
  width: 100%;
  background: white;
  padding:{
    top:15px;
    bottom:15px;
  }
  .lt{
    width: 45px;
    height: 45px;
    padding:{
      right: 15px;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  .rt{
    width: 100%;
    textarea{
      width: 100%
    }
  }
}
