<!--The content below is only a placeholder and can be replaced.-->
<div class="panel-editor df" [ngStyle]="{
'margin-left':margin.left,
'margin-right':margin.right,
'margin-top':margin.top,
'margin-bottom':margin.bottom
}">
  <div class="lt">
    <img src="http://dummyimage.com/45x45" alt="">
  </div>
  <div class="rt">
    <div class="h">
      <textarea [(ngModel)]="data.content"></textarea>
    </div>
    <div class="b df jcsb">
      <div class="l">
        <button type="button">表情</button>
        <input [(ngModel)]="data.email" type="text">
      </div>
      <div class="r">
        <button (click)="doComment()" type="button">评论</button>
      </div>
    </div>
  </div>
</div>
