<!--The content below is only a placeholder and can be replaced.-->
<div class="panel-search" [ngStyle]="{
'margin-left':margin.left,
'margin-right':margin.right,
'margin-top':margin.top,
'margin-bottom':margin.bottom
}">
  <input [(ngModel)]="data.title" type="text">
  <input (click)="triggerSearchArticleList()" type="button" value="全站搜索">
</div>
