<!--The content below is only a placeholder and can be replaced.-->
<div class="panel-toplist" [ngStyle]="{
'margin-left':margin.left,
'margin-right':margin.right,
'margin-top':margin.top,
'margin-bottom':margin.bottom
}">
  <h3>置顶推荐</h3>
  <p *ngFor="let item of topList">{{item.name}}</p>
</div>
