<!--The content below is only a placeholder and can be replaced.-->
<div class="df jcc">
  <div  CommonArticleList [margin]="{'top':'20px'}"></div>
  <div>
    <div CommonHotTag [margin]="{'left':'15px','top':'20px'}"></div>
    <div CommonTopList [margin]="{'left':'15px','top':'20px'}"></div>
    <div CommonNewRemark [margin]="{'top':'20px','left':'15px'}"></div>
    <div CommonFriendLink [margin]="{'top':'20px','left':'15px'}"></div>
    <div CommonAllSearch [margin]="{'top':'20px','left':'15px'}"></div>
  </div>
</div>

