.CommonHeader{
  width: 100%;
  a{
    width: calc(100% / 3);
    height: 50px;
    line-height: 50px;
    display: block;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color:white;
  }
}
