<!--The content below is only a placeholder and can be replaced.-->
<div class="CommonHeader df">
  <a routerLink = '/Index-Home' >主頁</a>
  <a routerLink = '/Index-List'>列表页</a>
  <a  [routerLink]="['/Index-Detail','2233']" >详细页</a>
</div>
