/* You can add global styles to this file, and also import other style files */
@import "com/cube";
body{
  background: #f8f8f8;
}
.component{
  width: 100%;
}
.container{
  &-left{
    width: 780px;
  }
  &-right{
    width: 390px;
  }
}
